{% extends "base.html" %}
{% block maincontent %}

<body>
  <div class="card bg-white">
    <div class='card-body'>
      <header>
          <h1>Welcome {{ user.first_name }} {{ user.last_name }} </h1>
      </header>
    </div>
  </div>
  
  {% if error_message %}
  <p>{{ error_message }}</p>
  {% endif %}


<div class="container-fluid site-width">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        {% for med in medication %}
                        <div class="col-md-6 col-lg-3 mb-4">
                            <div class="position-relative">
                                <img src="dist/images/ecommerce-img1.jpg" alt="" class="img-fluid">
                                <div class="caption-bg fade bg-transparent text-right">
                                    <div class="d-table w-100 h-100 ">
                                        <div class="d-table-cell align-bottom">
                                            <div class="mb-3">
                                                <a href="#" class="rounded-left bg-white px-3 py-2 shadow2"><i class="icon-heart"></i></a>
                                            </div>
                                            <div class="mb-4">
                                                <a href="#" class="rounded-left bg-white px-3 py-2 shadow2"><i class="icon-bag"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-3">
                                <p class="mb-2"><a href="#" class="font-weight-bold text-primary">{{ med.name }}</a></p>
                                <div class="clearfix">
                                    <div class="d-inline-block"><del>{{ med.old_price }}</del></div>
                                    <div class="d-inline-block text-danger pl-2">{{ med.new_price }}</div>
                                    <!-- Assuming you have a rating field in your Medication model -->
                                    <ul class="list-inline mb-0 mt-2">
                                        {% for _ in med.rating %}
                                        <li class="list-inline-item"><a href="#" class="text-primary"><i class="icon-star"></i></a></li>
                                        {% endfor %}
                                        <!-- Add empty stars for the remaining ratings -->
                                        <!-- Assuming maximum rating is 5 -->
                                        {% for _ in 1|upto:5 %}
                                        {% if forloop.counter <= med.rating.count %}
                                            <li class="list-inline-item"><a href="#" class="text-primary"><i class="icon-star"></i></a></li>
                                        {% else %}
                                            <li class="list-inline-item"><a href="#"><i class="icon-star"></i></a></li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    

                       
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <nav>
                                <ul class="pagination float-right">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">«</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">»</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
    
    
        </div>
    
    </div>
    </div>

</body>

{% endblock maincontent %}
